


<a> <%= link_to "Chatroom", root_path, :class => "active item" %> </a>
        <a class="item">
          Messages
        </a>
        <div class="right menu">
          <div class="ui dropdown item">
            Account <i class="dropdown icon"></i>
            <div class="menu">
              <% if logged_in? %>
                <a> <%= link_to "Logout", logout_path, method: :delete, class: "item" %> </a>
              
              <% else %>
                <a> <%= link_to "Login", login_path, class: "item" %> </a>

              <% end %>

              <a class="item">Sign Up</a>
            </div>
          </div>
          <% if !logged_in? %>
          <div class="item">
                <a> <%= link_to "Login", login_path, class: "ui primary button" %> </a>          
          </div>
        <% end %>

        </div>